@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Inconsolata');

.xml-display {
    font-family: 'Inconsolata', monospace;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #282923;
}

.xml-display .node-name {
    color: #F92472;
    margin-left: 2px;
}

.xml-display .node-value {
    color: #ffffff;
}

.xml-display .node-attribute-name {
    color: #A6E22B;
}

.xml-display .equals {
    color: #F8F8F2;
}

.xml-display .node-attribute-value {
    color: #E7DB74;
}

.xml-display .bracket {
    color: #F8F8F2;
}

.xml-display .node {
    margin: 5px 0;
    padding: 0 10px;
}

.xml-display .switcher {
    position: absolute;
    top: -1px;
    left: -5px;
    color: #A9A9A7;
    cursor:pointer;
    vertical-align:middle;

}
.xml-display .switcher::before {
    content: "▼";
}

.xml-display .switcher.collapsed::before {
    content: "▶";
    font-size: 12px;
}

.xml-display .node-collapsed {
    width: fit-content;
    background-color: #5d655b;
}

.inline-flex {
    display: inline-flex;
}

.xml-display .node:hover > .switcher {
    display: block;
}

.xml-display .switcher {
    display: none;
}

.xml-display .node-parent::before {
    content: "";
    position: absolute;
    margin: auto;
    top: .7rem;
    left: .6rem;
    bottom: .7rem;
    right: 0;
    border-left-color: #5f5b5f;
    border-left-width: thin;
    border-left-style: dotted;
}

/*.xml-display .line-number {
    background-color: #282923;
    width: 1.7rem;
    padding: 0.15rem 0.5em 0.15rem 0;
    box-shadow: .1.4em .1.4em .5em rgba(0,0,0,.45);
    counter-reset: line;
    margin-right: .3rem;
}

.xml-display {
    counter-reset: line;
}

.xml-display .one-line-code {
    position: fixed;
    left: 0;
    display: block;
    line-height: 1.4rem;
}

.xml-display .node-uncollapse .one-line-code::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    width: 1.5rem;
    text-align: right;
    color: #888
}*/